<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Version</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">version</ion-title>
    </ion-toolbar>
  </ion-header>

    <p>Version: 1.1.4</p>
    <p>Ultima Actualización: 15/3/2024</p>
    <p>Empresa Desarrolladora: ****</p>
    <p>Info. ultima actualización: Solución de problemas a la hora de compartir la información de algunos objetos</p>

</ion-content>

<ion-toolbar>

  <ion-tabs>
   <ion-tab-bar slot="bottom">
     <ion-tab-button tab="home">
       <ion-icon name="triangle"></ion-icon>
       <ion-label>Inicio</ion-label>
     </ion-tab-button>

     <ion-tab-button tab="informacion">
       <ion-icon name="ellipse"></ion-icon>
       <ion-label>Informacion</ion-label>
     </ion-tab-button>

     <ion-tab-button tab="version">
       <ion-icon name="ellipse"></ion-icon>
       <ion-label>Versión</ion-label>
     </ion-tab-button>
   </ion-tab-bar>

 </ion-tabs>

</ion-toolbar>