<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)]="document.data.nombre"></ion-input>

  <ion-label>Descripcion</ion-label>
  <ion-input [(ngModel)]="document.data.descripcion"></ion-input>

  <ion-label>Tipo</ion-label>
  <ion-input [(ngModel)]="document.data.tipo"></ion-input>

  <ion-label>Peso</ion-label>
  <ion-input [(ngModel)]="document.data.peso"></ion-input>

  <img
    src="{{document.data.imagen}}" alt="imagen del pan" *ngIF="imagenSelect || document.data.imagen"
  />

  <ion-button *ngIf="nuevo"  (click)="clickBotonInsertar()" color="success">Añadir Pan</ion-button>
  <ion-button *ngIf="existente" (click)="confirmarBorrado()" color="danger">Borrar</ion-button>
  <ion-button *ngIf="existente" (click)="clickBotonModificar()" color="warning">Modificar</ion-button>
  <ion-button color="success" (click)="seleccionarImagen()" fill="outline">
    Subir Imagen (<ion-icon name="cloud-upload-outline"></ion-icon>)
  </ion-button>
  <ion-button color="success" (click)="subirImagen()" fill="outline">
    GUARDAR CAMBIOS
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="share()">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
