<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)]="document.data.nombre"></ion-input>

  <ion-label>Descripcion</ion-label>
  <ion-input [(ngModel)]="document.data.descripcion"></ion-input>

  <ion-label>Tipo</ion-label>
  <ion-input [(ngModel)]="document.data.tipo"></ion-input>

  <ion-label>Peso</ion-label>
  <ion-input [(ngModel)]="document.data.peso"></ion-input>

  <ion-button (click)="clickBotonBorrar()">Borrar pan</ion-button>
  <ion-button (click)="clickBotonModificar()">Modificar pan</ion-button>
  
</ion-content>
